<div class="body-wrapper">
    <nav class="navbar navbar-expand-lg px-3 fixed-top" [class.navbar-scroll]="defaultClassNavbarScrollFlag"
        (scroll)="onWindowScroll();">
        <div class="container">
            <div class="d-flex justify-content-between w-100 align-items-center">
                <a class="navbar-brand" href="#">
                    <img src="assets/images/home1/STPL_Logo_White.svg">
                </a>
                <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
                    aria-controls="staticBackdrop">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
    </nav>
    <div class="offcanvas offcanvas-end text-bg-dark" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">
                <img src="assets/images/home1/STPL_Logo_White.svg">
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-3">
            <div class="menu">
                <ul>
                    <li>
                        <a data-bs-toggle="collapse" href="#collapseHome" role="button" aria-expanded="false"
                            aria-controls="collapseHome">
                            <span>Home</span>
                            <span class="dropdown-toggle"></span>
                        </a>
                        <div class="collapse" id="collapseHome">
                            <div class="card card-body">
                                <ul class="sub-menu">
                                    <li><a href="#">Home 1</a></li>
                                    <li><a href="#">Home 2</a></li>
                                    <li><a href="#">Home 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">About Us</a></li>
                    <li>
                        <a data-bs-toggle="collapse" href="#collapseServices" role="button" aria-expanded="false"
                            aria-controls="collapseServices">
                            Services
                            <span class="dropdown-toggle"></span>
                        </a>
                        <div class="collapse" id="collapseServices">
                            <div class="card card-body">
                                <ul class="sub-menu">
                                    <li><a href="#">Services 1</a></li>
                                    <li><a href="#">Services 2</a></li>
                                    <li><a href="#">Services 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a data-bs-toggle="collapse" href="#collapseProducts" role="button" aria-expanded="false"
                            aria-controls="collapseProducts">
                            Products
                            <span class="dropdown-toggle"></span>
                        </a>
                        <div class="collapse" id="collapseProducts">
                            <div class="card card-body">
                                <ul class="sub-menu">
                                    <li><a href="#">Products 1</a></li>
                                    <li><a href="#">Products 2</a></li>
                                    <li><a href="#">Products 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>

    <header>
        <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active mahakhanij">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="animate__animated animate__fadeInUp">mahakhanij <br>system</h1>
                                <p class="animate__animated animate__fadeInUp">Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                <a href="#" class="btn btn-more">Discover More</a>
                                <a href="#" class="btn btn-download">Download Brochure</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item election">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="animate__animated animate__fadeInUp">Election <br>Management System</h1>
                                <p class="animate__animated animate__fadeInUp">Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem Ipsum has
                                    been the industry's standard dummy text ever since the 1500s</p>
                                <a href="#" class="btn btn-more">Discover More</a>
                                <a href="#" class="btn btn-download">Download Brochure</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item amcu">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="animate__animated animate__fadeInUp">Automatic Milk <br>Collection Unit</h1>
                                <p class="animate__animated animate__fadeInUp">Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem Ipsum has
                                    been the industry's standard dummy text ever since the 1500s</p>
                                <a href="#" class="btn btn-more">Discover More</a>
                                <a href="#" class="btn btn-download">Download Brochure</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="about-us">
        <div class="container">
            <div class="row align-items-center g-5">
                <div class="col-sm-6 text-center">
                    <img src="https://img.freepik.com/free-photo/team-business-people-stacking-hands_53876-20873.jpg?w=996&t=st=1678366638~exp=1678367238~hmac=4408534406413cccd02c53fd714823d709b732a9f0a46a36ebc465090e777601"
                        class="img-fluid w-100 rounded-4">
                </div>
                <div class="col-sm-6">
                    <div class="small-heading">About us</div>
                    <div class="big-heading">Trusted By <br>Worldwide Clients</div>

                    <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Omnis Id Atque Dignissimos Repellat Quae
                        Ullam. Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Omnis Id Atque Dignissimos
                        Repellat Quae Ullam.</p>
                    <a href="#" class="btn btn-main">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="small-heading mx-auto">services</div>
                    <div class="big-heading">Services We Offer</div>
                </div>
            </div>

            <div class="row g-4">
                <div class="col-sm-4">
                    <div class="card card-body">
                        <div class="serv-icon">
                            <i class="fa-solid fa-code service-icon"></i>
                        </div>
                        <h2>Web Development</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <div class="serv-icon">
                            <i class="fa-solid fa-dice-d20 service-icon"></i>
                        </div>
                        <h2>Digital Marketing</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <div class="serv-icon">
                            <i class="fa-solid fa-laptop-code service-icon"></i>
                        </div>
                        <h2>SaaS Products</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <div class="serv-icon">
                            <i class="fa-solid fa-user-gear service-icon"></i>
                        </div>
                        <h2>Apps Development</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <div class="serv-icon">
                            <i class="fa-solid fa-magnifying-glass service-icon"></i>
                        </div>
                        <h2>SEO Services</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <div class="serv-icon">
                            <i class="fa-solid fa-chart-line service-icon"></i>
                        </div>
                        <h2>Data Analysis</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="why-choose">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="small-heading mx-auto">WHY CHOOSE US</div>
                    <h1 class="big-heading mb-4">Why Our Customers <br>Choose Working With Us</h1>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                                <img
                                    src="https://img.freepik.com/free-photo/standard-quality-control-concept-m_23-2150041856.jpg">
                                <div class="card-body">
                                    <h4>Latest Technologies</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima
                                        reiciendis nobis dolore obcaecati.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <img
                                    src="https://img.freepik.com/free-photo/hand-engineer-playing-blocks-wood-tower-game-jenga-blueprint-architectural-project_1423-212.jpg">
                                <div class="card-body">
                                    <h4>Uniqe Solutions</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima
                                        reiciendis nobis dolore obcaecati.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <img
                                    src="https://img.freepik.com/free-photo/man-wooden-cubes-table-management-concept_155003-10339.jpg">
                                <div class="card-body">
                                    <h4>Powerful Strategies</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima
                                        reiciendis nobis dolore obcaecati.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <img
                                    src="https://img.freepik.com/free-photo/young-team-leader-big-corporation-briefing-coworkers-pointing-graph-meeting-corporate-staff_482257-4169.jpg">
                                <div class="card-body">
                                    <h4>24/7 Service</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima
                                        reiciendis nobis dolore obcaecati.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="clients">
        <div class="container">
            <div class="row mb-4">
                <div class="col-sm-12 text-center">
                    <h1 class="big-heading text-white">Our Clients</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="card card-body">
                        <img src="http://trti.mahamining.com/assets/images/Aadivanmitralogo_White.svg">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card card-body">
                        <img src="https://www.consultbuddy.com/ConsultBuddy_logo_White.d098401c2c732cf07601.png">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card card-body">
                        <img src="https://samadhanosmanabad.in/assets/web-icons/SAMADHAN-logo.svg">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card card-body">
                        <img
                            src="http://demozposmanabad.mahamining.com/assets/images/home-page/Shikshan_Darpan_Logo.svg">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card card-body">
                        <img src="http://demozpchandrapur.mahamining.com/assets/images/logo.png">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card card-body">
                        <img src="https://priyadarshani.hitechdairy.in/assets/images/Pritdarshani-Logo.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials">
        <div class="container">
            <div class="row mb-4">
                <div class="col-sm-12 text-center">
                    <div class="small-heading mx-auto">TESTIMONIALS</div>
                    <h1 class="big-heading">Customers Testmonials</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="testi-content">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <img src="https://pub-static.fotor.com/assets/projects/pages/d5bdd0513a0740a8a38752dbc32586d0/fotor-03d1a91a0cec4542927f53c87e0599f6.jpg"
                                                class="testi-image" alt="...">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <p class="testimonial-text "> ipsum dolor sit amet consectetur adipisicing
                                                elit.
                                                Quod,
                                                id sequi aut qui est ab, corporis quis maiores reiciendis explicabo odio
                                                tenetur
                                                nulla sint vel.</p>
                                            <div class="customer-details">
                                                <p class="customer-name">Anil Kambale</p>
                                                <p class="customer-role">Founder</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testi-content">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg"
                                                class="testi-image" alt="...">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <p class="testimonial-text "> ipsum dolor sit amet consectetur adipisicing
                                                elit.
                                                Quod,
                                                id sequi aut qui est ab, corporis quis maiores reiciendis explicabo odio
                                                tenetur
                                                nulla sint vel.</p>
                                            <div class="customer-details">
                                                <p class="customer-name">Rajesh Saha</p>
                                                <p class="customer-role">CEO</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testi-content">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <img src="https://pbs.twimg.com/media/FjU2lkcWYAgNG6d.jpg"
                                                class="testi-image" alt="...">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <p class="testimonial-text "> ipsum dolor sit amet consectetur adipisicing
                                                elit.
                                                Quod,
                                                id sequi aut qui est ab, corporis quis maiores reiciendis explicabo odio
                                                tenetur
                                                nulla sint vel.</p>
                                            <div class="customer-details">
                                                <p class="customer-name">Chandrakant Mehta</p>
                                                <p class="customer-role">CEO</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section id="footer">
        <div class="footer-bg">
            <div class="container position-relative">
                <div class="row mb-5">
                    <div class="col-sm-4">
                        <img src="assets/images/home1/STPL_Logo_White.svg" class="footer-logo">
                        <p class="footer-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
                            facere
                            modi possimus
                            dignissimos, aliquam nobis eaque? Voluptatem magnam quisquam rem.</p>
                    </div>
                    <div class="col-sm-4">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Home</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>About Us</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Services</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Products</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Solutions</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Projects</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Blogs</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Career</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Life at Shaurya</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4>Contact Information</h4>
                        <div class="d-flex flex-column contactus gap-3 mb-4">
                            <div class="d-flex align-items-center">
                                <i class="fa-regular fa-envelope"></i><a
                                    href="mailto:info@shauryatechnosoft.com">info@shauryatechnosoft.com</a>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-phone"></i><a href="tel:020 67800801">020 67800801</a>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-globe"></i><a
                                    href="https://shauryatechnosoft.com">https://shauryatechnosoft.com</a>
                            </div>
                        </div>
                        <div class="social-icons">
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-between" id="bottom">
                    <div class="col-sm-4 text-white">
                        © 2022 Created & Maintained by : Team Shaurya
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex gap-3">
                            <a href="#">Terms of Use</a>
                            <div class="vr"></div>
                            <a href="#">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>