nav{
    background-color: rgba(0, 0, 0, 0.59);
}
nav img{
    width: 160px;
}
nav .btn-menu{
    background-color: transparent;
    width: 50px;
    height:50px;
    text-align: center;
    border: 3px solid #fff;
    color:#fff;
    border-radius: 50%;
    font-size: 1.5rem;
}