<div class="body-wrapper">
    <nav class="navbar navbar-expand-lg px-3 fixed-top">
        <div class="container">
            <div class="d-flex justify-content-between w-100 align-items-center">
                <a class="navbar-brand" href="#">
                    <img src="assets/images/home1/STPL_Logo_White.svg">
                </a>
                <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
                    aria-controls="staticBackdrop">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
    </nav>
    <div class="offcanvas offcanvas-end text-bg-dark" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">
                <img src="assets/images/home1/STPL_Logo_White.svg">
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-3">
            <div class="menu">
                <ul>
                    <li>
                        <a data-bs-toggle="collapse" href="#collapseHome" role="button" aria-expanded="false"
                            aria-controls="collapseHome">
                            <span>Home</span>
                            <span class="dropdown-toggle"></span>
                        </a>
                        <div class="collapse" id="collapseHome">
                            <div class="card card-body">
                                <ul class="sub-menu">
                                    <li><a href="#">Home 1</a></li>
                                    <li><a href="#">Home 2</a></li>
                                    <li><a href="#">Home 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">About Us</a></li>
                    <li>
                        <a data-bs-toggle="collapse" href="#collapseServices" role="button" aria-expanded="false"
                            aria-controls="collapseServices">
                            Services
                            <span class="dropdown-toggle"></span>
                        </a>
                        <div class="collapse" id="collapseServices">
                            <div class="card card-body">
                                <ul class="sub-menu">
                                    <li><a href="#">Services 1</a></li>
                                    <li><a href="#">Services 2</a></li>
                                    <li><a href="#">Services 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a data-bs-toggle="collapse" href="#collapseProducts" role="button" aria-expanded="false"
                            aria-controls="collapseProducts">
                            Products
                            <span class="dropdown-toggle"></span>
                        </a>
                        <div class="collapse" id="collapseProducts">
                            <div class="card card-body">
                                <ul class="sub-menu">
                                    <li><a href="#">Products 1</a></li>
                                    <li><a href="#">Products 2</a></li>
                                    <li><a href="#">Products 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>

    <header>
        <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active mahakhanij">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="animate__animated animate__fadeInUp">mahakhanij <br>system</h1>
                                <p class="animate__animated animate__fadeInUp">Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                <a href="#" class="btn btn-more">Discover More</a>
                                <a href="#" class="btn btn-download">Download Brochure</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item election">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="animate__animated animate__fadeInUp">Election <br>Management System</h1>
                                <p class="animate__animated animate__fadeInUp">Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem Ipsum has
                                    been the industry's standard dummy text ever since the 1500s</p>
                                <a href="#" class="btn btn-more">Discover More</a>
                                <a href="#" class="btn btn-download">Download Brochure</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item amcu">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="animate__animated animate__fadeInUp">Automatic Milk <br>Collection Unit</h1>
                                <p class="animate__animated animate__fadeInUp">Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem Ipsum has
                                    been the industry's standard dummy text ever since the 1500s</p>
                                <a href="#" class="btn btn-more">Discover More</a>
                                <a href="#" class="btn btn-download">Download Brochure</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="about-us">
        <div class="container">
            <div class="row align-items-center g-5">
                <div class="col-sm-6 text-center">
                    <img src="https://img.freepik.com/free-photo/team-business-people-stacking-hands_53876-20873.jpg?w=996&t=st=1678366638~exp=1678367238~hmac=4408534406413cccd02c53fd714823d709b732a9f0a46a36ebc465090e777601"
                        class="img-fluid w-100 rounded-4">
                </div>
                <div class="col-sm-6">
                    <div class="small-heading">About us</div>
                    <div class="big-heading">Trusted By <br>Worldwide Clients</div>

                    <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Omnis Id Atque Dignissimos Repellat Quae
                        Ullam. Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Omnis Id Atque Dignissimos
                        Repellat Quae Ullam.</p>
                    <a href="#" class="btn btn-main">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="small-heading mx-auto">services</div>
                    <div class="big-heading">Services We Offer</div>
                </div>
            </div>

            <div class="row g-4">
                <div class="col-sm-4">
                    <div class="card card-body">
                        <div class="serv-icon">
                            <i class="fa-solid fa-code service-icon"></i>
                        </div>
                        <h2>Web Development</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <div class="serv-icon">
                            <i class="fa-solid fa-dice-d20 service-icon"></i>
                        </div>
                        <h2>Digital Marketing</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <div class="serv-icon">
                            <i class="fa-solid fa-laptop-code service-icon"></i>
                        </div>
                        <h2>SaaS Products</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <div class="serv-icon">
                            <i class="fa-solid fa-user-gear service-icon"></i>
                        </div>
                        <h2>Apps Development</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <div class="serv-icon">
                            <i class="fa-solid fa-magnifying-glass service-icon"></i>
                        </div>
                        <h2>SEO Services</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <div class="serv-icon">
                            <i class="fa-solid fa-chart-line service-icon"></i>
                        </div>
                        <h2>Data Analysis</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>