<div class="body-wrapper">
    <nav class="navbar navbar-expand-lg" [class.navbar-scroll]="defaultClassNavbarScrollFlag"
        (scroll)="onWindowScroll();">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/images/home1/STPL_Logo_White.svg">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav pe-3 pe-lg-0 ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Home
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./home1">Home 1</a></li>
                                <li><a class="dropdown-item" href="./home2">Home 2</a></li>
                                <li><a class="dropdown-item" href="./home3">Home 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Web Development</a></li>
                                <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                                <li><a class="dropdown-item" href="#">SaaS Products</a></li>
                                <li><a class="dropdown-item" href="#">Apps Development</a></li>
                                <li><a class="dropdown-item" href="#">SEO Services</a></li>
                                <li><a class="dropdown-item" href="#">Data Analysis</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Portfolio
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Service 1</a></li>
                                <li><a class="dropdown-item" href="#">Service 2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Service 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="d-flex align-items-start flex-column">
                        <div class="mb-5">
                            <h1>Providing The Best Services & IT Solutions</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed architecto dolorum
                                inventore totam
                                adipisci</p>
                            <a href="#" class="btn btn-main mb-5">Get In Touch</a>
                        </div>
                        <div class="row g-3 mt-auto align-items-center justify-content-evenly w-100">
                            <div class="col-sm-3">
                                <img src="http://trti.mahamining.com/assets/images/Aadivanmitralogo_White.svg">
                            </div>
                            <div class="col-sm-3">
                                <img src="https://samadhanosmanabad.in/assets/web-icons/SAMADHAN-logo.svg">
                            </div>
                            <div class="col-sm-3">
                                <img
                                    src="http://demozposmanabad.mahamining.com/assets/images/home-page/Shikshan_Darpan_Logo.svg">
                            </div>
                            <div class="col-sm-3">
                                <img src="http://demozpchandrapur.mahamining.com/assets/images/logo.png">
                            </div>
                        </div>
                    </div>


                </div>
                <!-- <div class="col-sm-6">
                <div class="header-image">
                    <img src="assets/images/home2/header-img.jpg">
                </div>
            </div> -->
            </div>
        </div>
    </header>

    <section id="services" class="border-bottom">
        <div class="container">
            <div class="row align-items-center g-3">
                <div class="col-sm-6">
                    <h1 class="main-heading mb-0">Our<br>Services</h1>
                </div>
                <div class="col-sm-3">
                    <a class="card card-body h-100" href="#">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        <h5>Web<br> Development</h5>
                        <p>From MVPs to world‑changing digital products</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="card card-body h-100" href="#">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        <h5>Custom Software Development</h5>
                        <p>From MVPs to world‑changing digital products</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="card card-body h-100" href="#">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        <h5>Andriod App<br> Development</h5>
                        <p>From MVPs to world‑changing digital products</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="card card-body h-100" href="#">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        <h5>iOS App<br> Development</h5>
                        <p>From MVPs to world‑changing digital products</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="card card-body h-100" href="#">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        <h5>Product<br> Design</h5>
                        <p>From MVPs to world‑changing digital products</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="card card-body h-100" href="#">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        <h5>IT <br>Consulting</h5>
                        <p>From MVPs to world‑changing digital products</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center mb-5">
                    <h6 class="page-heading">about us</h6>
                    <h1 class="main-heading">Trusted By Worldwide Clients</h1>
                </div>
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-solid fa-truck-fast"></i>
                        <h4>First On Field</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <h4>Easy To Reach</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-solid fa-gears"></i>
                        <h4>Worldwide Services</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-regular fa-snowflake"></i>
                        <h4>24/7 Support</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="why-choose">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h6 class="page-heading">WHY CHOOSE US</h6>
                    <h1 class="main-heading mb-5">Why Our Customers
                        Choose Working With Us</h1>

                    <div class="d-flex media">
                        <div class="flex-shrink-0">
                            <i class="fa-solid fa-layer-group"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h4>Latest Technologies</h4>
                            <p>This is some content from a media component. You can replace this with any content and
                                adjust it as needed.</p>
                        </div>
                    </div>
                    <div class="d-flex media">
                        <div class="flex-shrink-0">
                            <i class="fa-solid fa-network-wired"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h4>Uniqe Solutions</h4>
                            <p>This is some content from a media component. You can replace this with any content and
                                adjust it as needed.</p>
                        </div>
                    </div>
                    <div class="d-flex media">
                        <div class="flex-shrink-0">
                            <i class="fa-brands fa-react"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h4>Powerful Strategies</h4>
                            <p>This is some content from a media component. You can replace this with any content and
                                adjust it as needed.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="why-choose-bg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="our-products">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="page-heading text-center">SOLUTIONS</h6>
                    <h1 class="main-heading mb-5 text-center">Our Products</h1>
                    <div id="carouselProducts" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/analytics-plan-strategy-insight-concept_53876-124214.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Software system for Indian airlines</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/laptop-with-graphics_1134-356.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Business Process Automation</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/business-chart-visual-graphics-report-concept_53876-125580.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Business Process Automation</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/customer-marketing-sales-dashboard-graphics-concept_53876-133831.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Software system for Indian airlines</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/modern-equipped-computer-lab_23-2149241199.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Business Process Automation</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/modern-equipped-computer-lab_23-2149241197.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Software system for Indian airlines</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/top-view-team-working-with-graphs_1232-849.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Business Process Automation</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/close-up-modern-laptop-with-rate-charts-display-while-man-woman-working-business-project-design-computer-screen-with-data-chart-information-finance-analysis-desk_482257-40065.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Software system for Indian airlines</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/modern-equipped-computer-lab_23-2149241207.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Business Process Automation</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselProducts"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselProducts"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-sm-auto">
                    <h6 class="page-heading">SOLUTIONS</h6>
                    <h1 class="main-heading">Our Products</h1>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card card-body">
                                asdf
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card card-body">
                                asdf
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>