<div class="body-wrapper">
    <nav class="navbar navbar-expand-lg" [class.navbar-scroll]="defaultClassNavbarScrollFlag"
        (scroll)="onWindowScroll();">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/images/home1/STPL_Logo_White.svg">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav pe-3 pe-lg-0 ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Home
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./home1">Home 1</a></li>
                                <li><a class="dropdown-item" href="./home2">Home 2</a></li>
                                <li><a class="dropdown-item" href="./home3">Home 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Web Development</a></li>
                                <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                                <li><a class="dropdown-item" href="#">SaaS Products</a></li>
                                <li><a class="dropdown-item" href="#">Apps Development</a></li>
                                <li><a class="dropdown-item" href="#">SEO Services</a></li>
                                <li><a class="dropdown-item" href="#">Data Analysis</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Portfolio
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Service 1</a></li>
                                <li><a class="dropdown-item" href="#">Service 2</a></li>
                                <li><a class="dropdown-item" href="#">Service 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="d-flex align-items-start flex-column">
                        <div class="mb-5">
                            <h1>Providing The Best Services & IT Solutions</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed architecto dolorum
                                inventore totam
                                adipisci</p>
                            <a href="#" class="btn btn-main mb-5">Get In Touch</a>
                        </div>
                        <div class="row g-3 mt-auto align-items-center justify-content-evenly w-100">
                            <div class="col-sm-3">
                                <img src="http://trti.mahamining.com/assets/images/Aadivanmitralogo_White.svg">
                            </div>
                            <div class="col-sm-3">
                                <img src="https://samadhanosmanabad.in/assets/web-icons/SAMADHAN-logo.svg">
                            </div>
                            <div class="col-sm-3">
                                <img
                                    src="http://demozposmanabad.mahamining.com/assets/images/home-page/Shikshan_Darpan_Logo.svg">
                            </div>
                            <div class="col-sm-3">
                                <img src="http://demozpchandrapur.mahamining.com/assets/images/logo.png">
                            </div>
                        </div>
                    </div>


                </div>
                <!-- <div class="col-sm-6">
                <div class="header-image">
                    <img src="assets/images/home2/header-img.jpg">
                </div>
            </div> -->
            </div>
        </div>
    </header>

    <section id="services" class="border-bottom">
        <div class="container">
            <div class="row align-items-center g-3">
                <div class="col-sm-6">
                    <h1 class="main-heading mb-0">Our<br>Services</h1>
                </div>
                <div class="col-sm-3">
                    <a class="card card-body h-100" href="#">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        <h5>Web<br> Development</h5>
                        <p>From MVPs to world‑changing digital products</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="card card-body h-100" href="#">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        <h5>Custom Software Development</h5>
                        <p>From MVPs to world‑changing digital products</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="card card-body h-100" href="#">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        <h5>Andriod App<br> Development</h5>
                        <p>From MVPs to world‑changing digital products</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="card card-body h-100" href="#">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        <h5>iOS App<br> Development</h5>
                        <p>From MVPs to world‑changing digital products</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="card card-body h-100" href="#">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        <h5>Product<br> Design</h5>
                        <p>From MVPs to world‑changing digital products</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="card card-body h-100" href="#">
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        <h5>IT <br>Consulting</h5>
                        <p>From MVPs to world‑changing digital products</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center mb-5">
                    <h6 class="page-heading">about us</h6>
                    <h1 class="main-heading">Trusted By Worldwide Clients</h1>
                </div>
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-solid fa-truck-fast"></i>
                        <h4>First On Field</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <h4>Easy To Reach</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-solid fa-gears"></i>
                        <h4>Worldwide Services</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-regular fa-snowflake"></i>
                        <h4>24/7 Support</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="why-choose">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h6 class="page-heading">WHY CHOOSE US</h6>
                    <h1 class="main-heading mb-5">Why Our Customers
                        Choose Working With Us</h1>

                    <div class="d-flex media">
                        <div class="flex-shrink-0">
                            <i class="fa-solid fa-layer-group"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h4>Latest Technologies</h4>
                            <p>This is some content from a media component. You can replace this with any content and
                                adjust it as needed.</p>
                        </div>
                    </div>
                    <div class="d-flex media">
                        <div class="flex-shrink-0">
                            <i class="fa-solid fa-network-wired"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h4>Uniqe Solutions</h4>
                            <p>This is some content from a media component. You can replace this with any content and
                                adjust it as needed.</p>
                        </div>
                    </div>
                    <div class="d-flex media">
                        <div class="flex-shrink-0">
                            <i class="fa-brands fa-react"></i>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h4>Powerful Strategies</h4>
                            <p>This is some content from a media component. You can replace this with any content and
                                adjust it as needed.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="why-choose-bg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="our-products">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="page-heading text-center">SOLUTIONS</h6>
                    <h1 class="main-heading mb-5 text-center">Our Products</h1>
                    <div id="carouselProducts" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/analytics-plan-strategy-insight-concept_53876-124214.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Software system for Indian airlines</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i
                                                        class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/laptop-with-graphics_1134-356.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Business Process Automation</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i
                                                        class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/business-chart-visual-graphics-report-concept_53876-125580.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Business Process Automation</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i
                                                        class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/customer-marketing-sales-dashboard-graphics-concept_53876-133831.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Software system for Indian airlines</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i
                                                        class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/modern-equipped-computer-lab_23-2149241199.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Business Process Automation</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i
                                                        class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/modern-equipped-computer-lab_23-2149241197.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Software system for Indian airlines</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i
                                                        class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/top-view-team-working-with-graphs_1232-849.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Business Process Automation</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i
                                                        class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/close-up-modern-laptop-with-rate-charts-display-while-man-woman-working-business-project-design-computer-screen-with-data-chart-information-finance-analysis-desk_482257-40065.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Software system for Indian airlines</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i
                                                        class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img src="https://img.freepik.com/free-photo/modern-equipped-computer-lab_23-2149241207.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Business Process Automation</h5>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and make up the bulk of the card's content.</p>
                                                <a href="#" class="stretched-link">Read More <i
                                                        class="fa-solid fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselProducts"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselProducts"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="page-heading">TESTIMONIALS</h6>
                    <h1 class="main-heading">Customers<br>Testmonials</h1>

                    <div class="carousel-buttons">
                        <button class="carousel-control-prev bg-dark" type="button"
                            data-bs-target="#carouselTestimonials" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next bg-dark" type="button"
                            data-bs-target="#carouselTestimonials" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-sm">
                    <div id="carouselTestimonials" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                                                        class="profile-pic">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="name">Mr. Arvind Kambale</h6>
                                                    <p class="designation">CEO</p>
                                                </div>
                                            </div>
                                            <p class="testi">
                                                ipsum dolor sit amet consectetur adipisicing elit. Quod, id sequi aut
                                                qui est ab, corporis quis maiores reiciendis explicabo odio tenetur
                                                nulla sint vel.
                                            </p>
                                            <div class="d-flex rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star-half-stroke"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                                                        class="profile-pic">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="name">Mr. Arvind Kambale</h6>
                                                    <p class="designation">CEO</p>
                                                </div>
                                            </div>
                                            <p class="testi">
                                                ipsum dolor sit amet consectetur adipisicing elit. Quod, id sequi aut
                                                qui est ab, corporis quis maiores reiciendis explicabo odio tenetur
                                                nulla sint vel.
                                            </p>
                                            <div class="d-flex rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star-half-stroke"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                                                        class="profile-pic">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="name">Mr. Arvind Kambale</h6>
                                                    <p class="designation">CEO</p>
                                                </div>
                                            </div>
                                            <p class="testi">
                                                ipsum dolor sit amet consectetur adipisicing elit. Quod, id sequi aut
                                                qui est ab, corporis quis maiores reiciendis explicabo odio tenetur
                                                nulla sint vel.
                                            </p>
                                            <div class="d-flex rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star-half-stroke"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                                                        class="profile-pic">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="name">Mr. Arvind Kambale</h6>
                                                    <p class="designation">CEO</p>
                                                </div>
                                            </div>
                                            <p class="testi">
                                                ipsum dolor sit amet consectetur adipisicing elit. Quod, id sequi aut
                                                qui est ab, corporis quis maiores reiciendis explicabo odio tenetur
                                                nulla sint vel.
                                            </p>
                                            <div class="d-flex rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star-half-stroke"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                                                        class="profile-pic">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="name">Mr. Arvind Kambale</h6>
                                                    <p class="designation">CEO</p>
                                                </div>
                                            </div>
                                            <p class="testi">
                                                ipsum dolor sit amet consectetur adipisicing elit. Quod, id sequi aut
                                                qui est ab, corporis quis maiores reiciendis explicabo odio tenetur
                                                nulla sint vel.
                                            </p>
                                            <div class="d-flex rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star-half-stroke"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                                                        class="profile-pic">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="name">Mr. Arvind Kambale</h6>
                                                    <p class="designation">CEO</p>
                                                </div>
                                            </div>
                                            <p class="testi">
                                                ipsum dolor sit amet consectetur adipisicing elit. Quod, id sequi aut
                                                qui est ab, corporis quis maiores reiciendis explicabo odio tenetur
                                                nulla sint vel.
                                            </p>
                                            <div class="d-flex rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star-half-stroke"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="blogs">
        <div class="container">
            <div class="row g-2">
                <div class="col-sm-12 text-center mb-5">
                    <h6 class="page-heading">blogs</h6>
                    <h1 class="main-heading">Blogs & Articles</h1>
                </div>
                <div class="col-sm-6">
                    <a class="card card-body p-0 border-white" href="#">
                        <div class="blog-big">
                            <img src="https://kosuspark.com/wp-content/uploads/2021/12/basics-of-computer-networking-kosuspark-650x500.jpg"
                                class="img-fluid">
                            <div class="blog-details">
                                <h6 class="mb-0">This is a wider card with supporting text below as a natural lead-in to additional content.</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6" id="recent-blogs">
                    <a class="card mb-2" href="#">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://s3.amazonaws.com/utep-uploads/wp-content/uploads/sparkle-box/2018/06/04102447/OU-MSEE-Six-Essential-Terms-in-Computer-Networking.jpg"
                                    class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">This is a wider card with supporting text below as a natural</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="card mb-2" href="#">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://s3.amazonaws.com/utep-uploads/wp-content/uploads/sparkle-box/2018/06/04102447/OU-MSEE-Six-Essential-Terms-in-Computer-Networking.jpg"
                                    class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Supporting text below as a natural
                                        lead-in to additional content.</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="card" href="#">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://s3.amazonaws.com/utep-uploads/wp-content/uploads/sparkle-box/2018/06/04102447/OU-MSEE-Six-Essential-Terms-in-Computer-Networking.jpg"
                                    class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">This is a wider card with supporting text below to additional content</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 mt-4 text-center">
                    <button type="submit" class="btn btn-main">View All Blogs</button>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="footer-bg">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-sm-4">
                        <img src="assets/images/home1/STPL_Logo_White.svg" class="footer-logo">
                        <p class="footer-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
                            facere
                            modi possimus
                            dignissimos, aliquam nobis eaque? Voluptatem magnam quisquam rem.</p>
                    </div>
                    <div class="col-sm-4">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Home</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>About Us</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Services</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Products</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Solutions</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Projects</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Blogs</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Career</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Life at Shaurya</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4>Contact Information</h4>
                        <div class="d-flex flex-column contactus gap-3 mb-4">
                            <div class="d-flex align-items-center">
                                <i class="fa-regular fa-envelope"></i><a
                                    href="mailto:info@shauryatechnosoft.com">info@shauryatechnosoft.com</a>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-phone"></i><a href="tel:020 67800801">020 67800801</a>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-globe"></i><a
                                    href="https://shauryatechnosoft.com">https://shauryatechnosoft.com</a>
                            </div>
                        </div>
                        <div class="social-icons">
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-between" id="bottom">
                    <div class="col-sm-4">
                        © 2022 Created & Maintained by : Team Shaurya
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex gap-3">
                            <a href="#">Terms of Use</a>
                            <div class="vr"></div>
                            <a href="#">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <button *ngIf="isShow" (click)="gotoTop()" class="scroll-top">
        <i class="fa-solid fa-arrow-up-long"></i>
    </button>
</div>


