.body-wrapper{
    background-color: #F4F7FA;
}
header {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.401) 100%), url('../../assets/images/home2/header-bg.jpg');
    position: relative;
    z-index: 0;
    max-height: 1280px;
    min-height: 100vh;
    padding: 150px 0 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header h1 {
    font-family: 'Gloock', serif;
    font-size: 3.8rem;
    border-bottom: solid 5px var(--home2-secondary-color);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
header img {
    width: 130px;
}

// header .header-image {
//     position: relative;
//     width: 43vmax;
//     left: -35.7vw;
//     transform: translate(635px, 0);
// }

// header .header-image img {
//     width: 100%;
//     height: 600px;
//     -o-object-fit: cover;
//     object-fit: cover;
//     border-top-left-radius: 400px;
//     border-bottom-left-radius: 400px;
//     position: relative;
// }


.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 1px solid transparent;
    transition-duration: 0.6s;
}

.navbar img {
    width: 200px;
}

.navbar-nav .nav-link {
    font-size: 0.85rem;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding: 15px 25px;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .navbar-nav .nav-link:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.navbar-nav .dropdown-menu {
    background-color: var(--home2-main-color);
    border-radius: 0;
    padding: 15px;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: #fff;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 2rem;
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: var(--home2-bg-color);
    background-color: transparent;
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-scroll {
    background-color: var(--home2-main-color) !important;
    padding-block: 5px;
    transition: all .6s ease-in-out;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 4%);
}

.navbar-scroll img {
    width: 150px;
    transition: all .6s ease-in-out;
}
.main-heading{
    font-size: 3.2rem;
    font-family: 'Gloock', serif;
    font-weight: 900;
    letter-spacing: 3px;
    color: var(--home2-main-color);
}
.page-heading{
    font-size: 1.2rem;
    color: var(--home2-secondary-color);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
}
.btn-main{
    background-color: var(--home2-secondary-color);
    color: #000;
    padding: 15px 40px;
    border-radius:0 2rem 0 2rem;
    transition: all 1s ease-in-out 0s;
    font-weight: 600;
}
.btn-main:hover{
    border-radius:2rem;
    transition: all 1s ease-in-out 0s;
}
#about-us,
#services{
    padding: 4rem 0;
}
#services a{
    text-decoration: none;
}
#services .card{
    padding: 2rem;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
    border-radius: 20px;
}
#services .card:hover{
    border-color: var(--home2-main-color);
    transition: all 0.3s ease-in-out 0s;
}
#services .card:hover a{
    opacity: 1;
    transition: top .3s,opacity .3s;
    -webkit-animation: bounceright 0.3s alternate ease infinite;
    animation: bounceright 0.3s alternate ease infinite;
}
#services .card a{
    position: absolute;
    right: 2rem;
    top: 2rem;
    transition: top .3s,opacity .3s;
    opacity: 0;
}
#services h5{
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--home2-main-color);
}
#services p{
    margin: 0;
}
@keyframes bounceright {
    from {
        -webkit-transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(5px);
    }
}
#about-us .card{
    border: none;
    background-color: transparent;
    text-align: center;
}
#about-us .card:hover i{
    background-color: var(--home2-main-color);
    transition: all 1s ease-in-out 0s;
}
#about-us i{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: var(--home2-secondary-color);
    width: 60px;
    height: 60px;
    border-radius: 0 1rem 0 1rem;
    background-color: #fff;
    line-height: 60px;
    margin-inline: auto;
    transition: all 1s ease-in-out 0s;
}
#about-us h4{
    color: var(--home2-main-color);
    font-size: 1.3rem;
    font-weight: 700;
}