.body-wrapper{
    background-color: #F4F7FA;
}
header {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.401) 100%), url('../../assets/images/home2/header-bg.jpg');
    position: relative;
    z-index: 0;
    max-height: 1280px;
    min-height: 100vh;
    padding: 150px 0 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header h1 {
    font-family: 'Gloock', serif;
    font-size: 3.8rem;
    border-bottom: solid 5px var(--home2-secondary-color);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
header img {
    width: 130px;
}

// header .header-image {
//     position: relative;
//     width: 43vmax;
//     left: -35.7vw;
//     transform: translate(635px, 0);
// }

// header .header-image img {
//     width: 100%;
//     height: 600px;
//     -o-object-fit: cover;
//     object-fit: cover;
//     border-top-left-radius: 400px;
//     border-bottom-left-radius: 400px;
//     position: relative;
// }


.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 1px solid transparent;
    transition-duration: 0.6s;
}

.navbar img {
    width: 200px;
}

.navbar-nav .nav-link {
    font-size: 0.85rem;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding: 15px 25px;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .navbar-nav .nav-link:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.navbar-nav .dropdown-menu {
    background-color: var(--home2-main-color);
    border-radius: 0;
    padding: 15px;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: #fff;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 2rem;
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: var(--home2-bg-color);
    background-color: transparent;
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-scroll {
    background-color: var(--home2-main-color) !important;
    padding-block: 5px;
    transition: all .6s ease-in-out;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 4%);
}

.navbar-scroll img {
    width: 150px;
    transition: all .6s ease-in-out;
}
.main-heading{
    font-size: 2.6rem;
    font-family: 'Gloock', serif;
    font-weight: 900;
    letter-spacing: 3px;
    color: var(--home2-main-color);
    line-height: 3.5rem;
}
.page-heading{
    font-size: 1.2rem;
    color: var(--home2-secondary-color);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
}
.btn-main{
    background-color: var(--home2-secondary-color);
    color: #000;
    padding: 15px 40px;
    border-radius:0 2rem 0 2rem;
    transition: all 1s ease-in-out 0s;
    font-weight: 600;
}
.btn-main:hover{
    border-radius:2rem;
    transition: all 1s ease-in-out 0s;
}
#blogs,
#testimonials,
#our-products,
#why-choose,
#about-us,
#services{
    padding: 4rem 0;
}
#services a{
    text-decoration: none;
}
#services .card{
    padding: 2rem;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
    border-radius: 20px;
}
#services .card:hover{
    border-color: var(--home2-main-color);
    transition: all 0.3s ease-in-out 0s;
}
#services .card:hover a{
    opacity: 1;
    transition: top .3s,opacity .3s;
    -webkit-animation: bounceright 0.3s alternate ease infinite;
    animation: bounceright 0.3s alternate ease infinite;
}
#services .card a{
    position: absolute;
    right: 2rem;
    top: 2rem;
    transition: top .3s,opacity .3s;
    opacity: 0;
}
#services h5{
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--home2-main-color);
}
#services p{
    margin: 0;
}
@keyframes bounceright {
    from {
        -webkit-transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(5px);
    }
}
#about-us .card{
    border: none;
    background-color: transparent;
    text-align: center;
}
#about-us .card:hover i{
    background-color: var(--home2-main-color);
    transition: all 1s ease-in-out 0s;
}
#about-us i{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: var(--home2-secondary-color);
    width: 60px;
    height: 60px;
    border-radius: 0 1rem 0 1rem;
    background-color: #fff;
    line-height: 60px;
    margin-inline: auto;
    transition: all 1s ease-in-out 0s;
}
#about-us h4{
    color: var(--home2-main-color);
    font-size: 1.3rem;
    font-weight: 700;
}
#why-choose .media{
    margin-bottom: 1.4rem;
}
#why-choose .media i{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 0 1rem 0 1rem;
    background-color: var(--home2-secondary-color);
    line-height: 60px;
    margin-inline: auto;
    transition: all 1s ease-in-out 0s;
    text-align: center;
}
#why-choose .media h4{
    font-size: 1.4rem;
    color: var(--home2-main-color);
    font-weight: 600;
}
#why-choose .why-choose-bg{
    height: 100%;
}
#why-choose .why-choose-bg::after{
    content: '';
    width: 747px;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://img.freepik.com/free-photo/into-success-group-young-freelancers-office-have-conversation-smiling_146671-13567.jpg');
}
#our-products .card{
    border-radius: 20px;
    padding: 10px;
    border-width: 2px;
}
#our-products .card:hover{
    border-color: var(--home2-main-color);
}
#our-products .card:hover i{
    -webkit-animation: bounceright 0.3s alternate ease infinite;
    animation: bounceright 0.3s alternate ease infinite;
}
#our-products .card img{
    border-radius: 10px;
    height: 225px;
}
#our-products .card .card-title{
    color: var(--home2-main-color);
    font-size: 1.2rem;
    font-weight: 600;
}
#our-products .card .card-text{
    color: #757575;
    font-size: 0.9rem;
}
#our-products .card a{
    color: var(--home2-main-color);
    font-size: 0.9rem;
    text-decoration: none;
}
#our-products .carousel-control-prev{
    left: -50px;
}
#our-products .carousel-control-next{
    right: -50px;
}
#our-products .carousel-control-next,
#our-products .carousel-control-prev{
    top: 45%;
    height: 46px;
    width: 46px;
    background-color: var(--home2-main-color);
    border-radius: 50%;
}
#testimonials .card{
    border-radius: 15px;
    padding: 1.5rem;
}
#testimonials .profile-pic{
    width: 60px;
}
#testimonials .name{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 5px;
}
#testimonials .designation{
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 0px;
    color: #858585;
}
#testimonials .testi{
    font-size: 0.85rem;
    font-weight: 500;
    margin-block: 10px;
    color: #454545;
    font-style: italic;
}
#testimonials .rating{
    color: goldenrod;
}
#testimonials .carousel-indicators{
    bottom: -50px;
}
#testimonials .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--home2-main-color);
}
#testimonials .carousel-buttons{
    position: relative;
    display: flex;
}
#testimonials .carousel-buttons button{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--home2-main-color) !important;
}
#testimonials .carousel-buttons button .carousel-control-next-icon,
#testimonials .carousel-buttons button .carousel-control-prev-icon{
    width: 1.1rem;
}
#blogs .blog-big .blog-details{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
}
#blogs .blog-big .blog-details h6{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 300;
}
#blogs #recent-blogs .card{
    border-color: #fff;
    border-radius: 0;
    text-decoration: none;
}
#blogs #recent-blogs .card:hover{
    border-color: var(--home2-main-color);
}
#blogs #recent-blogs .card img{
    border-radius: 0;
    height: 158px;
}
#blogs #recent-blogs .card .card-title{
    font-size: 1.1rem;
    color: var(--home2-main-color);
    line-height: 1.5rem;
}
#blogs #recent-blogs .card .card-text{
    font-size: 0.85rem;
    color: #888;
    margin-bottom: 0;
}

#footer .footer-bg {
    background-color: var(--home2-main-color);
    color: #fff;
    padding-top: 4rem;
    padding-bottom: 1rem;
}
#footer .footer-logo {
    width: 180px;
    margin-bottom: 1.5rem;
}

#footer .footer-text {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 30px;
}

#footer h4 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

#footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    columns: 2;
}

#footer ul li {
    line-height: 2.3rem;
}

#footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 300;
}

#footer ul li a:hover {
    color: var(--home1-main-color);
}
#footer ul li a:hover i{
    -webkit-animation: bounceright 0.3s alternate ease infinite;
    animation: bounceright 0.3s alternate ease infinite;
}

#footer ul li a i {
    color: var(--home1-main-color);
    margin-right: 0.5rem;
}

#footer .contactus {
    font-size: 0.85rem;
}

#footer .contactus a {
    color: #fff;
    text-decoration: none;
}

#footer .contactus i {
    margin-right: 0.75rem;
    color: var(--home1-main-color);
}

#footer #bottom {
    font-size: 0.85rem;
    font-weight: 300;
}

#footer #bottom a {
    color: #fff;
    text-decoration: none;
}

#footer #bottom a:hover {
    color: var(--home1-main-color);
}

.social-icons {
    display: flex;
}

.social-icons a {
    background-color: var(--home1-main-color);
    color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-right: 1rem;
    border-radius: 0.375rem;
}

.social-icons a:hover {
    color: #000;
}

.scroll-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    width: 40px;
    height: 40px;
    background-color: var(--home1-main-color);
    color: #fff;
    border: none;
}