<div class="body-wrapper">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/images/home1/STPL_Logo_White.svg">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav pe-3 pe-lg-0 ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Web Development</a></li>
                                <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                                <li><a class="dropdown-item" href="#">SaaS Products</a></li>
                                <li><a class="dropdown-item" href="#">Apps Development</a></li>
                                <li><a class="dropdown-item" href="#">SEO Services</a></li>
                                <li><a class="dropdown-item" href="#">Data Analysis</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Portfolio
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Service 1</a></li>
                                <li><a class="dropdown-item" href="#">Service 2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Service 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section class="page-hero  d-flex align-items-center" id="page-hero">
        <div class="overlay-photo-image-bg" data-bg-img="assets/images/home1/pattern-bg-1.jpg" data-bg-opacity=".2"
            style="background-image: url('assets/images/home1/pattern-bg-1.jpg'); opacity: 0.2;">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="left-content">
                        <p class="small-heading">IT Solutions</p>
                        <h1>Providing The Best Services & IT Solutions</h1>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed architecto dolorum inventore
                            totam adipisci</h6>
                        <div class="d-flex gap-3">
                            <button type="button" class="btn btn-main">
                                Start Now
                            </button>
                            <button type="button" class="btn btn-play">
                                <i class="fa-solid fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="position-relative">
                        <img src="../../assets/images/home1/right-img.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row justify-content-between align-items-center mb-5">
                <div class="col-sm-6">
                    <div class="small-heading">SERVICES</div>
                    <h1 class="main-heading">Services We Offer</h1>
                    <p class="sub-heading">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Omnis
                        Id Atque Dignissimos Repellat Quae Ullam.</p>
                </div>
                <div class="col-sm-6 text-end">
                    <button type="button" class="btn btn-main">
                        See All Services <i class="fa-solid fa-arrow-right-long ms-2"></i>
                    </button>
                </div>
            </div>

            <div class="row g-4">
                <div class="col-sm-4">
                    <div class="card card-body">
                        <i class="fa-solid fa-code"></i>
                        <h2>Web Development</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <i class="fa-solid fa-dice-d20"></i>
                        <h2>Digital Marketing</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <i class="fa-solid fa-laptop-code"></i>
                        <h2>SaaS Products</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <i class="fa-solid fa-user-gear"></i>
                        <h2>Apps Development</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <h2>SEO Services</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <i class="fa-solid fa-chart-line"></i>
                        <h2>Data Analysis</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="small-heading">ABOUT US</div>
                    <h1 class="main-heading">Trusted By Worldwide Clients Since</h1>
                    <p class="sub-heading mb-5">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Omnis
                        Id Atque Dignissimos Repellat Quae Ullam.</p>
                    <div class="row g-3 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex media">
                                <div class="flex-shrink-0">
                                    <div class="icon-container">
                                        <i class="fa-solid fa-award"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4>First On Field</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex media">
                                <div class="flex-shrink-0">
                                    <div class="icon-container">
                                        <i class="fa-solid fa-maximize"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4>Easy To Reach</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex media">
                                <div class="flex-shrink-0">
                                    <div class="icon-container">
                                        <i class="fa-solid fa-paper-plane"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4>Worldwide Services</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex media">
                                <div class="flex-shrink-0">
                                    <div class="icon-container">
                                        <i class="fa-solid fa-snowflake"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4>24/7 Support</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="btn btn-main">Get In Touch</a>
                </div>
                <div class="col-sm-6">
                    <img src="assets/images/home1/about-us.svg">
                </div>
            </div>
        </div>
    </section>

    <section id="why-choose">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="assets/images/home1/why-choose.svg">
                </div>
                <div class="col-sm-6">
                    <div class="small-heading">WHY CHOOSE US</div>
                    <h1 class="main-heading">Why Our Customers <br>Choose Working With Us</h1>
                    <p class="sub-heading mb-5">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Omnis
                        Id Atque Dignissimos Repellat Quae Ullam.</p>

                    <div class="d-flex media">
                        <div class="flex-shrink-0">
                            <h1>01.</h1>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h4>Latest Technologies</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima
                                reiciendis nobis dolore obcaecati.</p>
                        </div>
                    </div>
                    <div class="d-flex media">
                        <div class="flex-shrink-0">
                            <h1>02.</h1>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h4>Uniqe Solutions</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima
                                reiciendis nobis dolore obcaecati.</p>
                        </div>
                    </div>
                    <div class="d-flex media">
                        <div class="flex-shrink-0">
                            <h1>03.</h1>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h4>Powerful Strategies</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima
                                reiciendis nobis dolore obcaecati.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="stats">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-solid fa-anchor"></i>
                        <h1>750+</h1>
                        <p class="mb-0">Finished Projects</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-solid fa-database"></i>
                        <h1>23+</h1>
                        <p class="mb-0">Created Jobs</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-solid fa-flag-checkered"></i>
                        <h1>200+</h1>
                        <p class="mb-0">Happy Customers</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-solid fa-sitemap"></i>
                        <h1>28+</h1>
                        <p class="mb-0">Years Of Exprience</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="solutions">
        <div class="container">
            <div class="row justify-content-between align-items-center mb-3">
                <div class="col-sm-4">
                    <div class="small-heading">solutions</div>
                    <h1 class="main-heading">Our Products</h1>
                </div>
                <div class="col-sm-auto">
                    <button class="btn btn-main">See All <i class="fa-solid fa-arrow-right-long ms-2"></i></button>
                </div>
            </div>
            <div class="row justify-content-center mb-5">
                <div class="col-sm-6 text-center">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                        <label class="btn" for="btnradio1">All</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn" for="btnradio2">Mobile Apps</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                        <label class="btn" for="btnradio3">Web Apps</label>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-sm-4">
                    <div class="card">
                        <img src="https://img.freepik.com/free-photo/mobile-application-design-illustrator-creativity-concept_53876-124070.jpg?w=996&t=st=1677751184~exp=1677751784~hmac=15b40a3045f50fa693f0baad0b86cbb82433ae63091cd8336f67e8ec6f115e25"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mahamining Mobile App</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="https://img.freepik.com/free-photo/technology-app-development-wireless-e-commerce_53876-124044.jpg?w=996&t=st=1677751211~exp=1677751811~hmac=a86ca5600410de656ecec02f73b27dc6266a1bc980066f7d701b0569ff65b0ce"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mahamining Web Portal</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="https://img.freepik.com/free-photo/coding-man_1098-18084.jpg?w=996&t=st=1677751238~exp=1677751838~hmac=7486e6c968aec5de99d0d9156d7608759ec8476448cd0ce1e1707a6c8b52e31b"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">AadivanMitra Portal</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="https://img.freepik.com/free-photo/online-web-design_53876-95309.jpg?w=996&t=st=1677751254~exp=1677751854~hmac=c31776b2b4a4bd28e5ef9785750ce952b4fee0b454c60cd3d1543979220562dc"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Hitech Dairy</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="https://img.freepik.com/free-photo/web-design-concepts-with-blurred-background_1134-82.jpg?w=996&t=st=1677751285~exp=1677751885~hmac=a216703084301df7d4e330413f77edf7ec02b2d9ac8cb9bc27397741c5db19a2"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Consult Buddy</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="https://img.freepik.com/free-photo/top-view-nutritional-counter-app_23-2149880598.jpg?w=996&t=st=1677751320~exp=1677751920~hmac=b0adee4bb57248147d70a86319aa37b51b7bc6c2ccc363305430167977d48436"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Samadhan Portal</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="clients">
        <div class="container">
            <div class="row mb-4">
                <div class="col-sm-12 text-center">
                    <h1 class="main-heading">Our Clients</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="card card-body">
                        <img src="http://trti.mahamining.com/assets/images/Aadivanmitralogo_White.svg">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card card-body">
                        <img src="https://www.consultbuddy.com/ConsultBuddy_logo_White.d098401c2c732cf07601.png">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card card-body">
                        <img src="https://samadhanosmanabad.in/assets/web-icons/SAMADHAN-logo.svg">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card card-body">
                        <img
                            src="http://demozposmanabad.mahamining.com/assets/images/home-page/Shikshan_Darpan_Logo.svg">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card card-body">
                        <img src="http://demozpchandrapur.mahamining.com/assets/images/logo.png">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card card-body">
                        <img src="https://priyadarshani.hitechdairy.in/assets/images/Pritdarshani-Logo.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials">
        <div class="container">
            <div class="row mb-4">
                <div class="col-sm-12 text-center">
                    <div class="small-heading">TESTIMONIALS</div>
                    <h1 class="main-heading">Customers Testmonials</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="testi-content">
                                    <img src="https://pub-static.fotor.com/assets/projects/pages/d5bdd0513a0740a8a38752dbc32586d0/fotor-03d1a91a0cec4542927f53c87e0599f6.jpg"
                                        class="testi-image" alt="...">
                                    <p class="testimonial-text "> ipsum dolor sit amet consectetur adipisicing elit.
                                        Quod,
                                        id sequi aut qui est ab, corporis quis maiores reiciendis explicabo odio tenetur
                                        nulla sint vel.</p>
                                    <div class="customer-details">
                                        <p class="customer-name">Anil Kambale</p>
                                        <p class="customer-role">Founder</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testi-content">
                                    <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg"
                                        class="testi-image" alt="...">
                                    <p class="testimonial-text "> ipsum dolor sit amet consectetur adipisicing elit.
                                        Quod,
                                        id sequi aut qui est ab, corporis quis maiores reiciendis explicabo odio tenetur
                                        nulla sint vel.</p>
                                    <div class="customer-details">
                                        <p class="customer-name">Rajesh Saha</p>
                                        <p class="customer-role">CEO</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testi-content">
                                    <img src="https://pbs.twimg.com/media/FjU2lkcWYAgNG6d.jpg" class="testi-image"
                                        alt="...">
                                    <p class="testimonial-text "> ipsum dolor sit amet consectetur adipisicing elit.
                                        Quod,
                                        id sequi aut qui est ab, corporis quis maiores reiciendis explicabo odio tenetur
                                        nulla sint vel.</p>
                                    <div class="customer-details">
                                        <p class="customer-name">Chandrakant Mehta</p>
                                        <p class="customer-role">CEO</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="blog">
        <div class="container">
            <div class="row justify-content-between align-items-center mb-4">
                <div class="col-sm-6">
                    <div class="small-heading">BLOG</div>
                    <h1 class="main-heading">Latest Blogs / News</h1>
                </div>
                <div class="col-sm-auto">
                    <button class="btn btn-main">See All Posts <i
                            class="fa-solid fa-arrow-right-long ms-2"></i></button>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="img-container">
                            <img src="https://img.freepik.com/free-vector/organic-flat-blog-post-illustration-with-people_23-2148955260.jpg"
                                class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <div class="d-flex gap-3 blog-details">
                                <div>
                                    <i class="fa-solid fa-laptop-code"></i>
                                    Web Design
                                </div>
                                <div class="vr"></div>
                                <div>
                                    <i class="fa-regular fa-user"></i>
                                    Anil Kumbale
                                </div>
                            </div>
                            <h5 class="blog-title">Card title</h5>
                            <p class="blog-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="text-main stretched-link">Read More <i
                                    class="fa-solid fa-arrow-right-long ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="img-container">
                            <img src="https://img.freepik.com/free-vector/search-engine-marketing-business-copywriting-service-content-management_335657-3148.jpg"
                                class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <div class="d-flex gap-3 blog-details">
                                <div>
                                    <i class="fa-solid fa-laptop-code"></i>
                                    Web Design
                                </div>
                                <div class="vr"></div>
                                <div>
                                    <i class="fa-regular fa-user"></i>
                                    Anil Kumbale
                                </div>
                            </div>
                            <h5 class="blog-title">Card title</h5>
                            <p class="blog-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="text-main stretched-link">Read More <i
                                    class="fa-solid fa-arrow-right-long ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="img-container">
                            <img src="https://img.freepik.com/free-vector/tiny-content-writers-creating-web-articles-flat-illustration_74855-15537.jpg"
                                class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <div class="d-flex gap-3 blog-details">
                                <div>
                                    <i class="fa-solid fa-laptop-code"></i>
                                    Web Design
                                </div>
                                <div class="vr"></div>
                                <div>
                                    <i class="fa-regular fa-user"></i>
                                    Anil Kumbale
                                </div>
                            </div>
                            <h5 class="blog-title">Card title</h5>
                            <p class="blog-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="text-main stretched-link">Read More <i
                                    class="fa-solid fa-arrow-right-long ms-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="footer-bg">
            <div class="container position-relative">
                <div class="row mb-5">
                    <div class="col-sm-4">
                        <img src="assets/images/home1/STPL_Logo_White.svg" class="footer-logo">
                        <p class="footer-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
                            facere
                            modi possimus
                            dignissimos, aliquam nobis eaque? Voluptatem magnam quisquam rem.</p>
                    </div>
                    <div class="col-sm-4">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Home</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>About Us</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Services</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Products</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Solutions</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Projects</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Blogs</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Career</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Life at Shaurya</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4>Contact Information</h4>
                        <div class="d-flex flex-column contactus gap-3 mb-4">
                            <div class="d-flex align-items-center">
                                <i class="fa-regular fa-envelope"></i><a
                                    href="mailto:info@shauryatechnosoft.com">info@shauryatechnosoft.com</a>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-phone"></i><a href="tel:020 67800801">020 67800801</a>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-globe"></i><a
                                    href="https://shauryatechnosoft.com">https://shauryatechnosoft.com</a>
                            </div>
                        </div>
                        <div class="social-icons">
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-between" id="bottom">
                    <div class="col-sm-4">
                        © 2022 Created & Maintained by : Team Shaurya
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex gap-3">
                            <a href="#">Terms of Use</a>
                            <div class="vr"></div>
                            <a href="#">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<button *ngIf="isShow" (click)="gotoTop()" class="scroll-top">👆</button>