<div class="body-wrapper">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/images/home1/STPL_Logo_White.svg">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav pe-3 pe-lg-0 ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Web Development</a></li>
                                <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                                <li><a class="dropdown-item" href="#">SaaS Products</a></li>
                                <li><a class="dropdown-item" href="#">Apps Development</a></li>
                                <li><a class="dropdown-item" href="#">SEO Services</a></li>
                                <li><a class="dropdown-item" href="#">Data Analysis</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Portfolio
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Service 1</a></li>
                                <li><a class="dropdown-item" href="#">Service 2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Service 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section class="page-hero  d-flex align-items-center" id="page-hero">
        <div class="overlay-photo-image-bg" data-bg-img="assets/images/home1/pattern-bg-1.jpg" data-bg-opacity=".2"
            style="background-image: url('assets/images/home1/pattern-bg-1.jpg'); opacity: 0.2;">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="left-content">
                        <p class="small-heading">IT Solutions</p>
                        <h1>Providing The Best Services & IT Solutions</h1>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed architecto dolorum inventore
                            totam adipisci</h6>
                        <div class="d-flex gap-3">
                            <button type="button" class="btn btn-main">
                                Start Now
                            </button>
                            <button type="button" class="btn btn-play">
                                <i class="fa-solid fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="position-relative">
                        <img src="../../assets/images/home1/right-img.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row justify-content-between align-items-center mb-5">
                <div class="col-sm-6">
                    <div class="small-heading">SERVICES</div>
                    <h1 class="main-heading">Services We Offer</h1>
                    <p class="sub-heading">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Omnis
                        Id Atque Dignissimos Repellat Quae Ullam.</p>
                </div>
                <div class="col-sm-6 text-end">
                    <button type="button" class="btn btn-main">
                        See All Services <i class="fa-solid fa-arrow-right-long ms-2"></i>
                    </button>
                </div>
            </div>

            <div class="row g-4">
                <div class="col-sm-4">
                    <div class="card card-body">
                        <i class="fa-solid fa-code"></i>
                        <h2>Web Development</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <i class="fa-solid fa-dice-d20"></i>
                        <h2>Digital Marketing</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <i class="fa-solid fa-laptop-code"></i>
                        <h2>SaaS Products</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <i class="fa-solid fa-user-gear"></i>
                        <h2>Apps Development</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <h2>SEO Services</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <i class="fa-solid fa-chart-line"></i>
                        <h2>Data Analysis</h2>
                        <p>Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis
                            explicabo.</p>
                        <a class="text-main" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="small-heading">ABOUT US</div>
                    <h1 class="main-heading">Trusted By Worldwide Clients Since</h1>
                    <p class="sub-heading mb-5">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Omnis
                        Id Atque Dignissimos Repellat Quae Ullam.</p>
                    <div class="row g-3 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex media">
                                <div class="flex-shrink-0">
                                    <div class="icon-container">
                                        <i class="fa-solid fa-award"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4>First On Field</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex media">
                                <div class="flex-shrink-0">
                                    <div class="icon-container">
                                        <i class="fa-solid fa-maximize"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4>Easy To Reach</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex media">
                                <div class="flex-shrink-0">
                                    <div class="icon-container">
                                        <i class="fa-solid fa-paper-plane"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4>Worldwide Services</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex media">
                                <div class="flex-shrink-0">
                                    <div class="icon-container">
                                        <i class="fa-solid fa-snowflake"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4>24/7 Support</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="btn btn-main">Get In Touch</a>
                </div>
                <div class="col-sm-6">
                    <img src="assets/images/home1/about-us.svg">
                </div>
            </div>
        </div>
    </section>

    <section id="why-choose">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="assets/images/home1/why-choose.svg">
                </div>
                <div class="col-sm-6">
                    <div class="small-heading">WHY CHOOSE US</div>
                    <h1 class="main-heading">Why Our Customers <br>Choose Working With Us</h1>
                    <p class="sub-heading mb-5">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Omnis
                        Id Atque Dignissimos Repellat Quae Ullam.</p>

                    <div class="d-flex media">
                        <div class="flex-shrink-0">
                            <h1>01.</h1>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h4>Latest Technologies</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima
                                reiciendis nobis dolore obcaecati.</p>
                        </div>
                    </div>
                    <div class="d-flex media">
                        <div class="flex-shrink-0">
                            <h1>02.</h1>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h4>Uniqe Solutions</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima
                                reiciendis nobis dolore obcaecati.</p>
                        </div>
                    </div>
                    <div class="d-flex media">
                        <div class="flex-shrink-0">
                            <h1>03.</h1>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h4>Powerful Strategies</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima
                                reiciendis nobis dolore obcaecati.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="stats">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-solid fa-anchor"></i>
                        <h1>750+</h1>
                        <p class="mb-0">Finished Projects</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-solid fa-database"></i>
                        <h1>23+</h1>
                        <p class="mb-0">Created Jobs</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-solid fa-flag-checkered"></i>
                        <h1>200+</h1>
                        <p class="mb-0">Happy Customers</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-body">
                        <i class="fa-solid fa-sitemap"></i>
                        <h1>28+</h1>
                        <p class="mb-0">Years Of Exprience</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>