<div class="body-wrapper">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/images/home1/STPL_Logo_White.svg">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav pe-3 pe-lg-0 ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Web Development</a></li>
                                <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                                <li><a class="dropdown-item" href="#">SaaS Products</a></li>
                                <li><a class="dropdown-item" href="#">Apps Development</a></li>
                                <li><a class="dropdown-item" href="#">SEO Services</a></li>
                                <li><a class="dropdown-item" href="#">Data Analysis</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Portfolio
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Service 1</a></li>
                                <li><a class="dropdown-item" href="#">Service 2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Service 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section class="page-hero  d-flex align-items-center" id="page-hero">
        <div class="overlay-photo-image-bg" data-bg-img="assets/images/home1/pattern-bg-1.jpg" data-bg-opacity=".2"
            style="background-image: url('assets/images/home1/pattern-bg-1.jpg'); opacity: 0.2;">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="left-content">
                        <p>IT Solutions</p>
                        <h1>Providing The Best Services & IT Solutions</h1>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed architecto dolorum inventore totam adipisci</h6>
                        <div class="d-flex gap-3">
                            <button type="button" class="btn btn-start">
                                Start Now
                            </button>
                            <button type="button" class="btn btn-play">
                                <i class="fa-solid fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="position-relative">
                        <img src="../../assets/images/home1/right-img.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>