.body-wrapper {
    background-color: var(--home1-bg-color);
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 1px solid transparent;
}

.navbar img {
    width: 200px;
}

.navbar-nav .nav-link {
    font-size: 0.85rem;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding: 15px 25px;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .navbar-nav .nav-link:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.navbar-nav .dropdown-menu {
    background-color: var(--home1-main-color);
    border-radius: 0;
    padding: 15px;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: #fff;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 2rem;
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: var(--home1-bg-color);
    background-color: transparent;
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.page-hero {
    position: relative;
    z-index: 0;
    max-height: 1280px;
    min-height: 100vh;
    padding: 100px 0;
}

.page-hero::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 100%, 100% 0%, 100% 100%, 0 100%);
    background: rgba(72, 32, 167, 0.5);
    transition: all 0.25s ease-in-out 0s;
}

.overlay-photo-image-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.05;
}

.overlay-photo-image-bg,
.overlay-shape-image-bg,
.overlay-pattern-image-bg,
.overlay-gradient-color,
.overlay-color {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    transition: all 0.5s ease-in-out 0s;
}

.left-content {
    color: #fff;
}

.left-content h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4.3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.left-content h6 {
    font-size: 1.3rem;
    color: #aaa;
    line-height: 28px;
    margin-bottom: 2rem;
}
.left-content .btn-play {
    border: solid 2px var(--home1-main-color);
    background-color: var(--home1-main-color);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    animation: pulse infinite 2s linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(9, 175, 244, 0.4);
    }

    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(9, 175, 244, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(9, 175, 244, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(9, 175, 244, 0.4);
        box-shadow: 0 0 0 0 rgba(9, 175, 244, 0.4);
    }

    50% {
        -moz-box-shadow: 0 0 0 10px rgba(9, 175, 244, 0);
        box-shadow: 0 0 0 10px rgba(9, 175, 244, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(9, 175, 244, 0);
        box-shadow: 0 0 0 0 rgba(9, 175, 244, 0);
    }
}
a.text-main{
    color: var(--home1-main-color);
    text-decoration: none;
}
.text-main{
    color: var(--home1-main-color);
}
.btn-main {
    border: solid 2px var(--home1-main-color);
    color: var(--home1-main-color);
    border-radius: 40px;
    padding: 0.75rem 2.25rem;
    transition: all 0.5s ease-in-out 0s;
}
.btn-main:hover {
    border: solid 2px var(--home1-main-color);
    background-color: var(--home1-main-color);
    color: #fff;
    transition: all 0.5s ease-in-out 0s;
}
.small-heading {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: var(--home1-main-color);
}

.main-heading {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    margin-block:1rem;
}

.sub-heading {
    font-size: 1.2rem;
    color: #aaa;
}

#solutions,
#stats,
#why-choose,
#about-us,
#services {
    padding-block: 4rem;
}
#services .card{
    border: solid 1px var(--home1-main-color);
    transition: all 1s ease-in-out 0s;
    background: linear-gradient(to left, transparent 50%, var(--home1-main-color) 50%) right;
    background-size: 200%;
}
#services .card:hover{
    transition: all 1s ease-in-out 0s;
    background-position: left;
}
#services .card:hover i{
    color: #fff;
}
#services .card.card-body{
    padding: 2rem;
}
#services .card i{
    font-size: 2.75rem;
    margin-bottom: 1rem;
    color: var(--home1-main-color);
}
#services .card h2{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
    color: #fff;
}
#services .card a,
#services .card p{
    color: #fff;
}
#about-us{
    color: #fff;
}
#about-us .media:hover .icon-container{
    color: #fff;
    background-color: var(--home1-main-color);
    transition: all 0.5s ease-in-out 0s;
    transform: translate(0px, -5px);
}
#about-us .icon-container {
    width: 55px;
    height: 55px;
    line-height: 55px;
    border: solid 1px var(--home1-main-color);
    color: var(--home1-main-color);
    text-align: center;
    font-size: 1.75rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out 0s;
}
#about-us h4 {
    font-family: 'Oswald', sans-serif;
}
#why-choose{
    color: #fff;
}
#why-choose .media{
    margin-bottom: 1rem;
}
#why-choose .media h1{
    font-weight: 900;
    width: 70px;
    color: var(--home1-main-color);
}
#why-choose .media h4{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0.75rem;
}
#why-choose .media p{
    font-size: 0.9rem;
    font-weight: 300;
}
#stats{
    background-image:linear-gradient(90deg, rgba(6,9,34,0.75) 0%, rgba(6,9,34,0.75) 100%), url('../../assets/images/home1/stas-bg.jpg');
}
#stats .card{
    border: solid 1px var(--home1-main-color);
    border-top: solid 5px var(--home1-main-color);
    color: #fff;
    text-align: center;
    transition: all 1s ease-in-out 0s;
    background: linear-gradient(to left, transparent 50%, var(--home1-main-color) 50%) right;
    background-size: 200%;
}
#stats .card:hover{
    transition: all 1s ease-in-out 0s;
    background-position: left;
}
#stats .card:hover i{
    transition: all 1s ease-in-out 0s;
    color:#fff;
}
#stats .card.card-body{
    padding: 2rem;
}
#stats .card i{
    font-size: 3rem;
    color:var(--home1-main-color);
    margin-bottom: 1rem;
}
#stats .card h1{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
}
#solutions label.btn{
    color: #fff;
    border: none;
    padding-inline: 0.5rem;
    margin-inline: 0.5rem;
}
#solutions .btn-check:checked+.btn{
    color: var(--home1-main-color);
    border: none;
}
#solutions .card{
   border: 1px solid var(--home1-main-color);
   background-color: transparent;
   border-radius: 1rem;
   transition: all 0.5s ease-in-out 0s;
   color: #fff;
}
#solutions .card .card-title{
   margin: 0;
   font-size: 1.1rem;
}
#solutions .card .card-img-top{
   margin:-1.5rem 1rem 0 1rem;
   border-radius: 1rem;
   width: auto;
   height: 240px;
   transition: all 0.5s ease-in-out 0s;
}
#solutions .card:hover .card-img-top{
   margin: 0rem;
   transition: all 0.5s ease-in-out 0s;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}