.body-wrapper {
    background-color: var(--home1-bg-color);
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 1px solid transparent;
    transition-duration: 0.6s;
}

.navbar img {
    width: 200px;
}

.navbar-nav .nav-link {
    font-size: 0.85rem;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding: 15px 25px;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .navbar-nav .nav-link:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.navbar-nav .dropdown-menu {
    background-color: var(--home1-main-color);
    border-radius: 0;
    padding: 15px;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: #fff;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 2rem;
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: var(--home1-bg-color);
    background-color: transparent;
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-scroll {
    background-color: var(--home1-main-color) !important;
    padding-block: 5px;
    transition: all .6s ease-in-out;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 4%);
}

.navbar-scroll img {
    width: 150px;
    transition: all .6s ease-in-out;
}

.page-hero {
    position: relative;
    z-index: 0;
    max-height: 1280px;
    min-height: 100vh;
    padding: 100px 0;
}

.page-hero::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 100%, 100% 0%, 100% 100%, 0 100%);
    background: rgba(72, 32, 167, 0.5);
    transition: all 0.25s ease-in-out 0s;
}

.overlay-photo-image-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.05;
}

.overlay-photo-image-bg,
.overlay-shape-image-bg,
.overlay-pattern-image-bg,
.overlay-gradient-color,
.overlay-color {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    transition: all 0.5s ease-in-out 0s;
}

.left-content {
    color: #fff;
}

.left-content h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4.3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.left-content h6 {
    font-size: 1.3rem;
    color: #aaa;
    line-height: 28px;
    margin-bottom: 2rem;
}

.left-content .btn-play {
    border: solid 2px var(--home1-main-color);
    background-color: var(--home1-main-color);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    animation: pulse infinite 2s linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(9, 175, 244, 0.4);
    }

    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(9, 175, 244, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(9, 175, 244, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(9, 175, 244, 0.4);
        box-shadow: 0 0 0 0 rgba(9, 175, 244, 0.4);
    }

    50% {
        -moz-box-shadow: 0 0 0 10px rgba(9, 175, 244, 0);
        box-shadow: 0 0 0 10px rgba(9, 175, 244, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(9, 175, 244, 0);
        box-shadow: 0 0 0 0 rgba(9, 175, 244, 0);
    }
}

a.text-main {
    color: var(--home1-main-color);
    text-decoration: none;
    font-size: 0.95rem;
}

.text-main {
    color: var(--home1-main-color);
}

.btn-main {
    border: solid 2px var(--home1-main-color);
    color: var(--home1-main-color);
    border-radius: 40px;
    padding: 0.75rem 2.25rem;
    transition: all 0.5s ease-in-out 0s;
}

.btn-main:hover {
    border: solid 2px var(--home1-main-color);
    background-color: var(--home1-main-color);
    color: #fff;
    transition: all 0.5s ease-in-out 0s;
}
a.text-main:hover i,
.btn-main:hover i {
    -webkit-animation: bounceright 0.3s alternate ease infinite;
    animation: bounceright 0.3s alternate ease infinite;
}

@keyframes bounceright {
    from {
        -webkit-transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(5px);
    }
}

.small-heading {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: var(--home1-main-color);
}

.main-heading {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    margin-block: 1rem;
}

.sub-heading {
    font-size: 1.2rem;
    color: #aaa;
}

#blog,
#testimonials,
#clients,
#solutions,
#stats,
#why-choose,
#about-us,
#services {
    padding-block: 4rem;
}

#services .card {
    border: solid 1px var(--home1-main-color);
    transition: all 1s ease-in-out 0s;
    background: linear-gradient(to left, transparent 50%, var(--home1-main-color) 50%) right;
    background-size: 200%;
}

#services .card:hover {
    transition: all 1s ease-in-out 0s;
    background-position: left;
}
#services .card:hover a,
#services .card:hover .service-icon {
    color: #fff;
}
#services .card:hover i {
    -webkit-animation: bounceright 0.3s alternate ease infinite;
    animation: bounceright 0.3s alternate ease infinite;
}

#services .card.card-body {
    padding: 2rem;
}

#services .card .service-icon {
    font-size: 2.75rem;
    margin-bottom: 1rem;
    color: var(--home1-main-color);
}

#services .card h2 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
    color: #fff;
}

#services .card p {
    color: #fff;
}

#about-us {
    color: #fff;
}

#about-us .media:hover .icon-container {
    color: #fff;
    background-color: var(--home1-main-color);
    transition: all 0.5s ease-in-out 0s;
    transform: translate(0px, -5px);
}

#about-us .icon-container {
    width: 55px;
    height: 55px;
    line-height: 55px;
    border: solid 1px var(--home1-main-color);
    color: var(--home1-main-color);
    text-align: center;
    font-size: 1.75rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out 0s;
}

#about-us h4 {
    font-family: 'Oswald', sans-serif;
}

#why-choose {
    color: #fff;
}

#why-choose .media {
    margin-bottom: 1rem;
}

#why-choose .media h1 {
    font-weight: 900;
    width: 70px;
    color: var(--home1-main-color);
}

#why-choose .media h4 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0.75rem;
}

#why-choose .media p {
    font-size: 0.9rem;
    font-weight: 300;
}

#stats {
    background-image: linear-gradient(90deg, rgba(6, 9, 34, 0.75) 0%, rgba(6, 9, 34, 0.75) 100%), url('../../assets/images/home1/stas-bg.jpg');
}

#stats .card {
    border: solid 1px var(--home1-main-color);
    border-top: solid 5px var(--home1-main-color);
    color: #fff;
    text-align: center;
    transition: all 1s ease-in-out 0s;
    background: linear-gradient(to left, transparent 50%, var(--home1-main-color) 50%) right;
    background-size: 200%;
}

#stats .card:hover {
    transition: all 1s ease-in-out 0s;
    background-position: left;
}

#stats .card:hover i {
    transition: all 1s ease-in-out 0s;
    color: #fff;
}

#stats .card.card-body {
    padding: 2rem;
}

#stats .card i {
    font-size: 3rem;
    color: var(--home1-main-color);
    margin-bottom: 1rem;
}

#stats .card h1 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
}

#solutions label.btn {
    color: #fff;
    border: none;
    padding-inline: 0.5rem;
    margin-inline: 0.5rem;
}

#solutions .btn-check:checked+.btn {
    color: var(--home1-main-color);
    border: none;
}

#solutions .card {
    border: 1px solid var(--home1-main-color);
    background-color: transparent;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out 0s;
    color: #fff;
}

#solutions .card .card-title {
    margin: 0;
    font-size: 1.1rem;
}

#solutions .card .card-img-top {
    margin: -1.5rem 1rem 0 1rem;
    border-radius: 1rem;
    width: auto;
    height: 240px;
    transition: all 0.5s ease-in-out 0s;
}

#solutions .card:hover .card-img-top {
    margin: 0rem;
    transition: all 0.5s ease-in-out 0s;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#clients {
    background-color: var(--home1-main-color);
}

#clients .card {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#clients .card img {
    height: 60px;
}

#testimonials {
    background-image: linear-gradient(90deg, rgba(6, 9, 34, 0.75) 0%, rgba(6, 9, 34, 0.75) 100%), url('https://img.freepik.com/free-photo/business-people-casual-meeting_53876-101882.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
}

#testimonials .carousel-control-prev,
#testimonials .carousel-control-next {
    height: 50px;
    width: 50px;
    top: 44%;
    background-color: rgba(255, 255, 255, 0.3);
}

#testimonials .testi-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 0 2rem;
    color: #fff;
}

#testimonials .testi-content .testi-image {
    width: 100px;
    border-radius: 50px;
    border: solid 5px var(--home1-main-color);
    margin-bottom: 2rem;
}

#testimonials .testi-content .testimonial-text {
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

#testimonials .testi-content .customer-name {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.1rem;
}

#testimonials .testi-content .customer-role {
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 0rem;
}

#blog .card {
    border: none;
    background-color: #1e234e;
    color: #fff;
    border-radius: 1rem;
    position: relative;
}

#blog .card .img-container {
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0.5rem;
    position: relative;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#blog .card:hover .card-img-top {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out 0s;
}

#blog .card .card-img-top {
    height: 270px;
    transition: all 0.5s ease-in-out 0s;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#blog .card .blog-details {
    font-size: 0.75rem;
    font-weight: 300;
    margin-bottom: 0.75rem;
}

#blog .card .blog-details i {
    color: var(--home1-main-color);
    margin-right: 0.3rem;
}

#blog .card .blog-title {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0.75rem;
    font-size: 1.6rem;
}

#blog .card .blog-text {
    font-size: 0.9rem;
    color: #bbb;
    margin-bottom: 1rem;
}

#footer .footer-bg {
    position: relative;
    color: #fff;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

#footer .footer-bg::before {
    content: "";
    background: url('../../assets/images/home1/footer-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.15;
}

#footer .footer-logo {
    width: 180px;
    margin-bottom: 1.5rem;
}

#footer .footer-text {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 30px;
}

#footer h4 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

#footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    columns: 2;
}

#footer ul li {
    line-height: 2.3rem;
}

#footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 300;
}

#footer ul li a:hover {
    color: var(--home1-main-color);
}
#footer ul li a:hover i{
    -webkit-animation: bounceright 0.3s alternate ease infinite;
    animation: bounceright 0.3s alternate ease infinite;
}
#footer ul li a i {
    color: var(--home1-main-color);
    margin-right: 0.5rem;
}

#footer .contactus {
    font-size: 0.85rem;
}

#footer .contactus a {
    color: #fff;
    text-decoration: none;
}

#footer .contactus i {
    margin-right: 0.75rem;
    color: var(--home1-main-color);
}

#footer #bottom {
    font-size: 0.85rem;
    font-weight: 300;
}

#footer #bottom a {
    color: #fff;
    text-decoration: none;
}

#footer #bottom a:hover {
    color: var(--home1-main-color);
}

.social-icons {
    display: flex;
}

.social-icons a {
    background-color: var(--home1-main-color);
    color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-right: 1rem;
    border-radius: 0.375rem;
}

.social-icons a:hover {
    color: #000;
}

.scroll-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    width: 40px;
    height: 40px;
    background-color: var(--home1-main-color);
    color: #fff;
    border: none;
}